*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
}

body {
  background: url("./background.svg") center center / cover no-repeat;
}

.logo {
  text-decoration: none;
  color: inherit;
}

.pointer {
  cursor: pointer;
}

.active::after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--accent-indicator);
  border-radius: 50px;
}