*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
}

body {
  background: url("./background.svg") center center / cover no-repeat;
}

.logo {
  text-decoration: none;
  color: inherit;
}

.pointer {
  cursor: pointer;
}

.active::after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--accent-indicator);
  border-radius: 50px;
}

.clean-link {
  text-decoration: none;
  color: var(--gray-a11);
  padding: 2px 8px;
  border-radius: 4px;
  border-bottom: 1px solid transparent;
  margin-left: -8px;

  &:hover {
    color: var(--gray-a12);
    background-color: var(--gray-a3);
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}